.loading-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.loading-container h1 {
    font-family: 'Russo One';
    font-size: 30px;
}

.loading-container h1::after {
    content: '.';
    animation: 2s infinite animation;
}

@keyframes animation {
    33% { content: '..'; }
    66% { content: '...'; }
}